.console {
    -fx-font-size: 12px;
    -fx-font-family: Monospaced;
    -fx-font-weight: bold;
    -fx-background-color: #2b2b2b !important;
}

.consoleScrollPane {
    -fx-background-color: #2b2b2b;
}

.consoleTextFlow {
    -fx-background-color: #2b2b2b;
}

.consoleInput {
    -fx-background-color: #2b2b2b, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.consoleInput:focused {
    -fx-background-color: #2b2b2b, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
