.square_button {
    -fx-min-height: 45;
    -fx-min-width: 45;
}

#hideButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}
