@import "default_style.css";

#sidebar {
    -fx-background-color: -hygene;
}

.button {
    -fx-pref-height: 42px;
    -fx-background-color: -hygene;
    -fx-font: 12px "Arial";
    -fx-text-fill: #ffffff;

    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}
