#sidebar {
    -fx-background-color: #1156c3;
}

.button {
    -fx-pref-height: 42px;
    -fx-background-color: #1156c3;
    -fx-font: 12px "Arial";
    -fx-text-fill: #ffffff;

    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #246fc3;
}
